<% if (stats) { %>
<h3>Ping Times</h3>

<table class="stats">
  <tr>
    <th></th>
    <% for(var i in servers) { %>
      <th><%= i %></th>
    <% } %>
  </tr>
   <% for(var i in servers) { %>
    <tr>
      <th><%= i %></th>
      <% for(var j in servers) { %>
        <td>
          <% if(i != j) { %>
            <% if(typeof stats[i] != "undefined" && typeof stats[i][j] != "undefined") { %>
              <div title="age: <%= (now-stats[i][j].date) %> seconds" 
                   class="<%= (now-stats[i][j].date > 30 ? "stale" : "") %> <%= (stats[i][j].ms == -1 ? "timeout" : "") %>">
                <%- (stats[i][j].ms == -1 ? "&#8734;" : stats[i][j].ms+"ms") %>
              </div>
            <% } %>
          <% } %>
        </td>
      <% } %>
    </tr>
  <% } %>  
</table>
<% } else { %>
  No stats gathered yet
<% } %>